html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  scrollbar-gutter: auto !important;
}

body.modal-open {
  scrollbar-gutter: unset;
}

.main-content {
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: calc(100vh - 60px);
}

.rarity-Common {
  filter: drop-shadow(0 0 0.5rem #bbbbbb);
}

.rarity-Uncommon {
  filter: drop-shadow(0 0 0.5rem #1EFF00);
}

.rarity-Rare {
  filter: drop-shadow(0 0 0.5rem #0070ff);
}

.rarity-Epic {
  filter: drop-shadow(0 0 0.5rem #A335EE);
}

.rarity-Legendary {
  filter: drop-shadow(0 0 0.5rem #FFA500);
}

@media (min-width: 320px) {
  .mi\:flex {
    display: block !important;
  }
}

.login-card-width {
  width: clamp(16rem, 100%, 32rem);
}

.marked-question-border {
  filter: drop-shadow(0 0 0.125rem #7480ff);
}

.buzzer-success {
  filter: drop-shadow(0 0 0.125rem #209920);
}

fieldset[disabled] label {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / 0.4));
}

.spinner::-webkit-outer-spin-button,
.spinner::-webkit-inner-spin-button {
  margin-left: 4px;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
