@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Vinque";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/vinque.ttf) format("ttf");
    }
}